spring.datasource.url=jdbc:postgresql://localhost:5432/rssu-hackathon
spring.datasource.username=hackathon
spring.datasource.password=SuperSecretPassword
server.port=8081
url.url=http://example.com
url.staticPath=/static/
